---
import styles from './BodyTwoColumns.module.css';
import Container from '@components/base/Container.astro';

interface Props {
  width?: string;
  height?: string;
  sidebarLeft?: boolean;
  padding?: string;
  gap?: string;
  backgroundSidebar?:boolean;
  flexDirection?: string;
}

const { width, height, sidebarLeft = false, padding = '', gap = '', backgroundSidebar = false, flexDirection = '' } = Astro.props;
const classes = [styles.layout, sidebarLeft ? styles.flipped : ''].join(' ');
const styleContainer = {
  '--grid-columns': width || (sidebarLeft ? '300px 1fr' : '1fr 300px'),
  '--min-height': height || 'auto',
  '--gap': gap || 'var(--space-4)',
};

const styleSidebar ={
  '--min-height': height || 'auto',
}

const styleContent ={
  '--min-height': height || 'auto',
}
---

<Container padding={padding} flexDirection={flexDirection}>
  <div class={classes} style={styleContainer}>
    <main class={styles.content} style={styleSidebar}>
      <slot />
    </main>
    <aside class={backgroundSidebar ? styles.backgroundSidebar : ''} class={styles.sidebar} style={styleContent}>
      <slot name="sidebar" />
    </aside>
  </div>
</Container>
