---
import MainLayout from "@layouts/MainLayout.astro";
import SEO from "@components/seo/SEO.astro";
import { websiteSchema, organizationSchema } from "@utils/seo";

// Repositorio de Componentes (Mix & Match)
import HeaderSticky from "@components/headers/HeaderSticky.astro";
// import HeaderTransparent from "@components/headers/HeaderTransparent.astro";
import fs from 'node:fs';
import path from 'node:path';
import { fileURLToPath } from 'node:url';



import BodyTwoColumns from "@components/body/BodyTwoColumns.astro";
import BodyGrid from "@components/body/BodyGrid.astro";
import CardCarousel from "@components/base/CardCarousel.astro";

import FooterThreeCols from "@components/footers/FooterThreeCols.astro";
// import FooterSimple from "@components/footers/FooterSimple.astro";

// Base Components
import Section from "@components/base/Section.astro";
import Button from "@components/base/Button.astro";
import LogoCard from "@components/logo/LogoCard.astro";
import Container from "@components/base/Container.astro";
import Slider from "@components/base/Slider.astro";

const seoTitle = "Inicio";
const seoDesc = "Sistema de plantillas modular y escalable para creación rápida de sitios web corporativos y landing pages.";

const slides = [
  {
    image: "https://images.unsplash.com/photo-1492684223066-81342ee5ff30?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "Nombre del Evento #1",
    subtitle: "Descripcion del evento #1",
    date:"10/10/2026",
    primaryButtonText: "Comprar Ahora",
    primaryButtonLink: "/contact",
    secondaryButtonText: "Ver Detalles",
    secondaryButtonLink: "/contact"
  },
  {
    image: "https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "Nombre del Evento #2",
    subtitle: "Descripcion del evento #2",
    date:"10/10/2026",
    primaryButtonText: "Comprar Ahora",
    primaryButtonLink: "/contact",
    secondaryButtonText: "Ver Detalles",
    secondaryButtonLink: "/contact"
  },
  {
    image: "https://images.unsplash.com/photo-1522158637959-30385a09e0da?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "Nombre del Evento #3",
    subtitle: "Descripcion del evento #3",
    date:"10/10/2026",
    primaryButtonText: "Comprar Ahora",
    primaryButtonLink: "/contact",
    secondaryButtonText: "Ver Detalles",
    secondaryButtonLink: "/contact"
  },
  {
    image: "https://images.unsplash.com/photo-1558008258-3256797b43f3?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "Nombre del Evento #4",
    subtitle: "Descripcion del evento #4",
    date:"10/10/2026",
    primaryButtonText: "Comprar Ahora",
    primaryButtonLink: "/contact",
    secondaryButtonText: "Ver Detalles",
    secondaryButtonLink: "/contact"
  }
];

const cards = [
  {
    id: 1,
    image: "https://images.unsplash.com/photo-1542291026-7eec264c27ff?auto=format&fit=crop&q=80&w=1200",
    title: "Innovación en Diseño",
    description: "Descubre nuestra nueva colección de calzado deportivo con tecnología de punta.",
    actions: [
      {
        label: "Ver Colección",
        url: "/contact",
        variant: "primary" as const
      },
      {
        label: "Saber más",
        url: "/contact",
        variant: "secondary" as const
      }
    ]
  },
  {
    id: 2,
    image: "https://images.unsplash.com/photo-1523275335684-37898b6baf30?auto=format&fit=crop&q=80&w=1200",
    title: "Elegancia y Precisión",
    description: "Relojes inteligentes que combinan el estilo clásico con funciones modernas.",
    actions: [
      {
        label: "Comprar Ahora",
        url: "/contact",
        variant: "primary" as const
      },
      {
        label: "Ver Detalles",
        url: "/contact",
        variant: "secondary" as const
      }
    ]
  },
  {
    id: 3,
    image: "https://images.unsplash.com/photo-1523275335684-37898b6baf30?auto=format&fit=crop&q=80&w=1200",
    title: "Elegancia y Precisión",
    description: "Relojes inteligentes que combinan el estilo clásico con funciones modernas.",
    actions: [
      {
        label: "Comprar Ahora",
        url: "/contact",
        variant: "primary" as const
      },
      {
        label: "Ver Detalles",
        url: "/contact",
        variant: "secondary" as const
      }
    ]
  },
  {
    id: 4,
    image: "https://images.unsplash.com/photo-1523275335684-37898b6baf30?auto=format&fit=crop&q=80&w=1200",
    title: "Elegancia y Precisión",
    description: "Relojes inteligentes que combinan el estilo clásico con funciones modernas.",
    actions: [
      {
        label: "Comprar Ahora",
        url: "/contact",
        variant: "primary" as const
      },
      {
        label: "Ver Detalles",
        url: "/contact",
        variant: "secondary" as const
      }
    ]
  },
  {
    id: 5,
    image: "https://images.unsplash.com/photo-1523275335684-37898b6baf30?auto=format&fit=crop&q=80&w=1200",
    title: "Elegancia y Precisión",
    description: "Relojes inteligentes que combinan el estilo clásico con funciones modernas.",
    actions: [
      {
        label: "Comprar Ahora",
        url: "/contact",
        variant: "primary" as const
      },
      {
        label: "Ver Detalles",
        url: "/contact",
        variant: "secondary" as const
      }
    ]
  },
  {
    id: 6,
    image: "https://images.unsplash.com/photo-1523275335684-37898b6baf30?auto=format&fit=crop&q=80&w=1200",
    title: "Elegancia y Precisión",
    description: "Relojes inteligentes que combinan el estilo clásico con funciones modernas.",
    actions: [
      {
        label: "Comprar Ahora",
        url: "/contact",
        variant: "primary" as const
      },
      {
        label: "Ver Detalles",
        url: "/contact",
        variant: "secondary" as const
      }
    ]
  }
];

const __filename = fileURLToPath(import.meta.url);
const __dirname = path.dirname(__filename);
const clientsDir = path.resolve(__dirname, '../../public/clientes-venezolanos');
const clientsDir2 = path.resolve(__dirname, '../../public/clientes-de-la-region');

let files: string[] = [];

try {
  files = fs.readdirSync(clientsDir);
} catch (error) {
  console.error('Error reading clients directory:', error);
}


const clientesVenezolanos = files
  .filter(file => /\.(webp|png|jpg|jpeg|svg)$/i.test(file))
  .map(file => {
    const nameWithoutExt = file.replace(/\.[^/.]+$/, "");
    // Remove "Logo-" prefix and replace hyphens with spaces
    const title = nameWithoutExt
      .replace(/^Logo-/i, "")
      .replace(/-/g, " ");
    
    return {
      image: `${import.meta.env.BASE_URL}/clientes-venezolanos/${file}`,
      title: title,
      link: "/#"
    };

  });

let files2: string[] = [];
try{
  files2 = fs.readdirSync(clientsDir2);
}catch(error){
  console.error('Error reading clients directory:', error);
}

const clientesDeLaRegion = files2
  .filter(file =>  /\.(webp|png|jpg|jpeg|svg)$/i.test(file))
  .map(file => {
    const nameWithoutExt = file.replace(/\.[^/.]+$/, "");
    // Remove "Logo-" prefix and replace hyphens with spaces
    const title = nameWithoutExt
      .replace(/^Logo-/i, "")
      .replace(/-/g, " ");
    
    return {
      image: `${import.meta.env.BASE_URL}/clientes-de-la-region/${file}`,
      title: title,
      link: "/#"
    };

  }

  )
---

<MainLayout title={seoTitle}>
  <SEO 
    slot="seo" 
    title={seoTitle} 
    description={seoDesc} 
    schemas={[websiteSchema, organizationSchema]} 
  />

  <HeaderSticky slot="header" />

  <Section variant="fullHeightWithHeader">
    <Container>
      <Slider slides={slides} />
    </Container>
  </Section>

  <!-- Hero Section (Full Width example) -->
  <!-- <Section variant="fullHeightWithHeader">
    <Container>
      <div style="text-align: center; max-width: 800px; margin: 0 auto;">
        <h1 style="font-size: var(--font-size-4xl); margin-bottom: var(--space-6);">
          Boilerplate Modular para <span style="color: var(--color-primary);">Frontend Moderno</span>
        </h1>
        <p style="font-size: var(--font-size-xl); color: var(--color-text-light); margin-bottom: var(--space-8);">
          Construye sitios web de alto rendimiento combinando headers, layouts y footers intercambiables.
        </p>
        <div style="display: flex; gap: var(--space-4); justify-content: center;">
          <Button size="large">Comenzar Ahora</Button>
          <Button variant="outline" size="large">Ver Documentación</Button>
        </div>
      </div>
    </Container>
  </Section> -->

  <!--Card Carrusel -->
  <Section variant="alt">
    <Container>
      <CardCarousel cards={cards} title="Productos Destacados" />
    </Container>
  </Section>

  <!-- Content with Sidebar Example -->
  <Section variant="hero">
    <!-- <BodyTwoColumns sidebarLeft={true}>
      <div slot="sidebar">
        <ul style="display: flex; flex-direction: column; gap: var(--space-2);">
          {clientesVenezolanos.map((cliente) => (
          <li>
            {/* <a href={cliente.link}> */}
              {cliente.title}
              {/* </a> */}
              </li>
              ))}
              </ul>
              </div>
              </BodyTwoColumns> -->
              
              <!-- <p style="margin: var(--space-4) 0 var(--space-8);">
                Este starter kit utiliza lo mejor del ecosistema moderno: Astro para el esqueleto y React par la interactividad donde sea estrictamente necesario.
                </p> -->
                
      <h2 style="margin-bottom: var(--space-4);justify-self:center">Clientes Venezolanos</h2>
      <BodyGrid >
        {
          clientesVenezolanos.map((cliente) => (
            <LogoCard 
              title={cliente.title}
              image={cliente.image}
            />
          ))
        }
      </BodyGrid>
  </Section>

  <Section variant="compact">
    <!-- <BodyTwoColumns sidebarLeft={true}>
      <div slot="sidebar">
        <ul style="display: flex; flex-direction: column; gap: var(--space-2);">
          {clientesDeLaRegion.map((cliente) => (
            <li>
              {/* <a href={cliente.link}> */}
                {cliente.title}
              {/* </a> */}
            </li>
          ))}
        </ul>
      </div>
    </BodyTwoColumns> -->
      
      <!-- <p style="margin: var(--space-4) 0 var(--space-8);">
        Este starter kit utiliza lo mejor del ecosistema moderno: Astro para el esqueleto y React par la interactividad donde sea estrictamente necesario.
        </p> -->
        
      <h2 style="margin-bottom: var(--space-4);justify-self:center">Clientes de la Región</h2>
      <BodyGrid>
        {
          clientesDeLaRegion.map((cliente) => (
            <LogoCard 
              title={cliente.title}
              image={cliente.image}
            />
          ))
        }
        <!-- <Card 
          title="Componentes Base" 
          description="Botones, contenedores y secciones listos para usar con CSS Modules."
          image="https://images.unsplash.com/photo-1555066931-4365d14bab8c?auto=format&fit=crop&q=80&w=400"
        />
        <Card 
          title="CSS Modules" 
          description="Estilos aislados y escalables sin conflictos, siguiendo la filosofía BEM."
          image="https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?auto=format&fit=crop&q=80&w=400"
        />
        <Card 
          title="SEO Avanzado" 
          description="Metadatos dinámicos y esquemas JSON-LD integrados por defecto."
          image="https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&q=80&w=400"
        /> -->
      </BodyGrid>
  </Section>

  <FooterThreeCols slot="footer" />
</MainLayout>

