---
import styles from './FooterSimple.module.css';
import Container from '@components/base/Container.astro';
---

<footer class={styles.footer}>
  <Container className={styles.inner}>
    <div class={styles.links}>
      <a href="#" class={styles.link}>Privacidad</a>
      <a href="#" class={styles.link}>Términos</a>
      <a href="#" class={styles.link}>Galletas</a>
    </div>
  </Container>
</footer>
