---
import styles from './FooterThreeCols.module.css';
import Container from '@components/base/Container.astro';
import HorizontalLogo from '@components/logo/horizontal.astro';
import Redes from '@components/base/Redes.astro';

---

<footer class={styles.footer} transition:persist>
  <Container padding="padding-0-32">
    <div class={styles.grid}>
      <div class={styles.brandInfo}>
        <a href={import.meta.env.BASE_URL} class={styles.logo}>
          <HorizontalLogo />
        </a>
        <p class={styles.tagline}>
          Nosotros somos los arquitectos de la emoción, los narradores de historias y los creadores de momentos inolvidables. En cada proyecto, fusionamos la pasión con la precisión, la imaginación con la ejecución. Nuestro compromiso es transformar ideas en experiencias que trasciendan el tiempo.
        </p>
        <div class={styles.socials}>
          <!-- Social Icons Placeholder -->
        </div>
      </div>
      
      <div class={styles.column}>
        <h4 class={styles.heading}>Empresa</h4>
        <a href={`${import.meta.env.BASE_URL}/servicios`} class={styles.link}>Servicios</a>
        <a href={`${import.meta.env.BASE_URL}/eventos`} class={styles.link}>Eventos</a>
        <a href={`${import.meta.env.BASE_URL}/contacto`} class={styles.link}>Contacto</a>
      </div>

      <div class={styles.column}>
        <h4 class={styles.heading}>Redes Sociales</h4>
        <Redes variant="left"></Redes>
        <!-- <a href={"/#"} class={styles.link}>Instagram</a>
        <a href={"/#"} class={styles.link}>Facebook</a>
        <a href={"/#"} class={styles.link}>Whatsapp</a> -->
      </div>
    </div>

  </Container>
</footer>
