---
import styles from './FooterThreeCols.module.css';
import Container from '@components/base/Container.astro';
import HorizontalLogo from '@components/logo/horizontal.astro';

---

<footer class={styles.footer} transition:persist>
  <Container padding="padding-0-32">
    <div class={styles.grid}>
      <div class={styles.brandInfo}>
        <a href={import.meta.env.BASE_URL} class={styles.logo}>
          <HorizontalLogo />
        </a>
        <p class={styles.tagline}>
          Nosotros somos los arquitectos de la emoción, los narradores de historias y los creadores de momentos inolvidables. En cada proyecto, fusionamos la pasión con la precisión, la imaginación con la ejecución. Nuestro compromiso es transformar ideas en experiencias que trasciendan el tiempo.
        </p>
        <div class={styles.socials}>
          <!-- Social Icons Placeholder -->
        </div>
      </div>
      
      <div class={styles.column}>
        <h4 class={styles.heading}>Resources</h4>
        <a href="#" class={styles.link}>Documentation</a>
        <a href="#" class={styles.link}>Tutorials</a>
        <a href="#" class={styles.link}>Starter Kits</a>
      </div>

      <div class={styles.column}>
        <h4 class={styles.heading}>Company</h4>
        <a href="#" class={styles.link}>About Us</a>
        <a href="#" class={styles.link}>Careers</a>
        <a href="#" class={styles.link}>Contact</a>
      </div>
    </div>

  </Container>
</footer>
